<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>NEO Testnet Faucet</title>
  <link type="image/x-icon" href="img/favicon.png" rel="apple-touch-icon">
  <link type="image/x-icon" href="img/favicon.png" rel="shortcut icon">
  <link type="image/x-icon" href="img/favicon.png" rel="icon">
  <link type="image/x-icon" href="img/favicon.png" rel="bookmark">
</head>

<body>
  <div id="app" class="container">
    <div class="header">
      <a href="https://neo.org" target="_blank" class="header__neo">
        <img src="img/neo.png" alt="">
      </a>
      <div class="header__faucet">
        Faucet
      </div>
    </div>
    <section class="body">
      <div class="body__desc">
        Fill the following application form to receive test assets for NEO Testnet.
      </div>
      <label class="body__label" for="key">NEO address</label>
      <input @change="onChange()"
      v-bind:class="{invalid: !isValid && inputDirty}"
      v-model="key" class="body__input" placeholder="AP5n91qDhmoNG5S71LMBBmn9C4XcMGZDz"
      id="key" name="key" type="text">
      <div class="g-recaptcha" data-sitekey="6LfaH3MUAAAAAGn1HQMHMKn22xxN6_OUt7DwJ0-V"></div>
      <div class="body__row">
        <button v-on:click="sendNeo()" class="button">
          Send me 3000 NEO test assets
        </button>
        <div class="body__info">
            This faucet provides 3000 NEO and 3000 Gas for just one NEO address and one IP address.
        </div>
        <div v-if="errorText && !inputDirty" class="body__error">{{errorText}}</div>
        <div v-if="!isValid && inputDirty" class="body__error">Invalid address. Please check your input.</div>
        <div v-if="success" class="body__success">Assets were successfully sent</div>
        
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="footer__mywish">
      <span>
        Developed & supported by
      </span>
      <a href="https://mywish.io" target="_blank">
        <img src="img/mywish.png" alt="mywish">
      </a>
    </div>
    <div class="footer__tg">
      <a href="https://t.me/NEO_testnet_faucet_bot" target="_blank">
          <img src="img/tg.png" alt="telegram" width="40" height="40">
      </a>
      <span>
        <a target="_blank" href="https://t.me/NEO_testnet_faucet_bot">get our telegram bot</a> to recieve test <br>
        gas in more convenient way
      </span>
    </div>
  </footer>
  <script src="js/validator.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/app.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>