<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>NEO Testnet Faucet</title>
  <link type="image/x-icon" href="img/favicon.png" rel="apple-touch-icon">
  <link type="image/x-icon" href="img/favicon.png" rel="shortcut icon">
  <link type="image/x-icon" href="img/favicon.png" rel="icon">
  <link type="image/x-icon" href="img/favicon.png" rel="bookmark">
  <script src="js/vue.js"></script>
  <script async src="js/app.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="header">
        <a href="https://neo.org" target="_blank" class="header__neo">
          <img src="img/neo.png" alt="">
        </a>

        <div class="header__faucet" >
          <span v-if="userLanguage === 'zh'">水龙头</span>
          <span v-else>Faucet</span>
        </div>
      </div>


      <section class="instruction-section" v-show="openedInstruction">
        <p>In order to connect to our new recently launched test network, you will need to simply do these steps:</p>
        <ul class="instruction-section__first-list">
          <li>
            <p>
              Download latest release of official NEO client, such as NEO-CLI, NEO-GUI or CoZ NEO-PYTHON.<br/>
              There are links for them all:
            </p>
            <ul class="instruction-section__just-list">
              <li>
                neo-cli: <a href="https://github.com/neo-project/neo-cli/releases" target="_blank">https://github.com/neo-project/neo-cli/releases</a>
              </li>
              <li>
                neo-gui: <a href="https://github.com/neo-project/neo-gui/releases" target="_blank">https://github.com/neo-project/neo-gui/releases</a>
              </li>
              <li>
                neo-python: <a href="https://github.com/CityOfZion/neo-python" target="_blank">https://github.com/CityOfZion/neo-python</a>
              </li>
            </ul>
          </li>
          <li>
            <p>
              Extract downloaded archive to navigate to directory. In this folder you will find files named “config.json” and “protocol.json”, and some other with similar names.
            </p>
            <div class="text-center instruction-img-container">
              <img src="/img/1.png">
              <img src="/img/2.png">
            </div>
            <p>
              <b>Note:</b> For neo-python, navigate from root directory of neo-python to folder neo/data as shown, you will find neccesary files here.
            </p>
            <div class="text-center instruction-img-container">
              <img src="/img/3.png">
            </div>
          </li>
          <li>
            <p>
              Copy or rename these files for backup, and download configuration files for new testnet:
            </p>
            <ol class="instruction-section__second-list">
              <li>
                Config file for neo-cli and neo-gui:<br/>
                <a href="https://gist.github.com/ephdtrg/d7caf3c91904fea795234331f04429ea#file-config-mywish-testnet-json" target="_blank">
                  https://gist.github.com/ephdtrg/d7caf3c91904fea795234331f04429ea#file-config-mywish-testnet-json
                </a>
              </li>
              <li>
                Protocol file for neo-cli and neo-gui:<br/>
                <a href="https://gist.github.com/ephdtrg/d7caf3c91904fea795234331f04429ea#file-protocol-mywish-testnet-json" target="_blank">
                  https://gist.github.com/ephdtrg/d7caf3c91904fea795234331f04429ea#file-protocol-mywish-testnet-json
                </a>
              </li>
              <li>
                Unified config and protocol file for neo-python:
                <a href="https://gist.github.com/ephdtrg/d7caf3c91904fea795234331f04429ea#file-protocol-mywish-testnet-json" target="_blank">
                  https://gist.github.com/ephdtrg/d7caf3c91904fea795234331f04429ea#file-protocol-mywish-testnet-json
                </a>
              </li>
            </ol>
          </li>
          <li>
            <p>
              Move downloaded config files to folder and rename “config.mywish-testnet.json” to “config.json” and “protocol.mywish-testnet.json” to “protocol.json”. For neo-python, rename “protocol.neopython-mywish-testnet.json” to “protocol.testnet.json”
            </p>
            <p>
              <b>Note:</b> If you already using neo client and want to switch to new testnet, backup your blockhain database files, move them to another directory and replace configuration files.
            </p>
          </li>
          <li>
            <p>
              After this, just launch your client and it will be automatically connected to MyWish Testnet. Wait some time for full synchronization and you’re good to go.
            </p>
          </li>
        </ul>
        <br/>
        <p>
          This new testnet also have additional services, that will help to work with blockchain:
        </p>
        <ul>
          <li>
            Faucet service for NEO: <a target="_blank" href="http://neo.mywish.io/">http://neo.mywish.io/</a>
          </li>
          <li>
            Blockchain explorer for NEO: <a target="_blank" href="http://neoscan.mywish.io">http://neoscan.mywish.io/</a>
          </li>
          <li>
            Network status monitor for NEO: <a target="_blank" href="http://neomonitor.mywish.io/">http://neomonitor.mywish.io/</a><br/>
          </li>
        </ul><br/><br/>
        <button class="button" v-on:click="closeInstruction()"><span>Close instruction</span></button>
      </section>
      <section class="body"  v-show="!openedInstruction">
        <div class="body__desc">
          <span v-if="userLanguage === 'zh'">填写以下的申请表来获取NEO测试网的测试币</span>
          <span v-else>Fill the following application form to receive test assets for NEO Testnet.</span>
        </div>
        <label class="body__label" for="key">
          <span v-if="userLanguage === 'zh'">NEO地址</span>
          <span v-else>NEO address</span>
        </label>
        <input @change="onChange()"
        v-bind:class="{invalid: !isValid && inputDirty}"
        v-model="key" class="body__input" placeholder="AP5n91qDhmoNG5S71LMBBmn9C4XcMGZDz"
        id="key" name="key" type="text" >
        <div class="g-recaptcha" data-sitekey="6LfNuZkUAAAAAHZpTqjqB46Z_m70tD-AnY0C44a7"></div>
        <div class="body__row">
          <button v-on:click="sendNeo('NEO')" class="button">
            <span v-if="userLanguage === 'zh'"> 发给我1000个NEO测试币</span>
            <span v-else>Send me 1000 NEO test assets</span>
          </button>&nbsp;&nbsp;&nbsp;
          <button v-on:click="sendNeo('GAS')" class="button">
            <span v-if="userLanguage === 'zh'"> 发给我1000个Gas测试币</span>
            <span v-else>Send me 1000 Gas test assets</span>
          </button>
        </div>
        <div>
          <div v-if="errorText" class="body__error">{{errorText}}</div>
          <div v-if="!isValid && inputDirty" class="body__error">
            <span v-if="userLanguage === 'zh'">不正确的地址。请再次检查。</span>
            <span v-else>Invalid address. Please check your input.</span>
          </div>
          <div v-if="success" class="body__success">
            <span v-if="userLanguage === 'zh'">资产已成功发放。</span>
            <span v-else>Assets were successfully sent.</span>
          </div>

          <div class="body__info">
              <span v-if="userLanguage === 'zh'">这个水龙头为一个NEO地址和一个telegram账户提供1000NEO和1000Gas</span>
              <span v-else> The faucet provides 1000 NEO and 1000 Gas for one NEO address and one IP address every 24 hours</span>
          </div>
        </div>
        <a href="#"
           class="instruction-open-link"
           v-on:click="openInstruction()">Instructions for setup of NEO MyWish Testnet client</a><br/><br/>
      </section>

    </div>
    <footer class="footer">
      <div class="footer__mywish">
        <span v-if="userLanguage === 'zh'">由开发并且提供技术支持</span>
        <span v-else>Developed & supported by</span>
        <a href="https://mywish.io" target="_blank">
          <img src="img/mywish.png" alt="mywish">
        </a>
      </div>
      <div class="footer__tg">
        <a href="https://t.me/NEO_testnet_faucet_bot" target="_blank">
            <img src="img/tg.png" alt="telegram" width="40" height="40">
        </a>
        <span v-if="userLanguage === 'zh'">
          <a target="_blank" href="https://t.me/NEO_testnet_faucet_bot">
            获取我们的telegram</a> 机器人来以更
            简单的方式获取测试用的gas
        </span>
        <span v-else>
          <a target="_blank" href="https://t.me/NEO_testnet_faucet_bot">
            get our telegram bot</a> to receive<br>test
          gas in more convenient way
        </span>
      </div>
    </footer>
  </div>

  <script src="js/validator.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>